{% extends 'index.html' %}

{% block content %}

<section class="teacherEntry">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="teacherForm">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher ID</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher ID">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher ID">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher RF</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher ID">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher Designation</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher ID">
                    </div>
                    <div class="mb-3">
                         <label for="exampleFormControlTextarea1" class="form-label">Teacher Details</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher Subject</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher ID">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher Catagory</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Teacher ID">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Teacher Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <a href="" class="btn">Submit Teacher Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}